* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  position: relative;
  background: #fff;
}

header {
  padding: 6px 20px 8px;
  display: grid;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.title a{
  color: #000;
  padding: 10px;
}

#g-nav{
  position:fixed;
  z-index: 999;
top:0;
  right: -120%;
width:100%;
  height: 100vh;
background:#999;
transition: all 0.6s;
}
#g-nav.panelactive{
  right: 0;
}
#g-nav.panelactive #g-nav-list{
  position: fixed;
  z-index: 999; 
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#g-nav ul {
  position: absolute;
  z-index: 999;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#g-nav li{
list-style: none;
  text-align: center;
}
#g-nav li a{
color: #333;
text-decoration: none;
padding:10px;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
}
.openbtn{
position:fixed;
  z-index: 9999;
top:10px;
right: 10px;
cursor: pointer;
  width: 50px;
  height:50px;
}
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: #000;
  width: 45%;
}
.openbtn span:nth-of-type(1) {
top:15px;	
}
.openbtn span:nth-of-type(2) {
top:23px;
}
.openbtn span:nth-of-type(3) {
top:31px;
}
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}
.openbtn.active span:nth-of-type(2) {
opacity: 0;
}
.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

.main {
  width: 100%;
  height: 689px;
  display: flex;
}
.main-inner {
  width: 100%;
  height: auto;
}
.maintitle {
  position: absolute;
  color: #000;
  top: 110px;
  left: 5%;
  font-size: 5rem;
}
.imginner {
  position: relative;
  max-width: 800px;
  height: auto;
  left: 40%;
  margin-top: 70px;
} 
.imginner img{
  width: 1000px;
  height: 600px;
  object-position: center;
  object-fit: cover;
} 
.right {
  position: relative;
  max-width: 1440px;
  height: auto;
} 

/* .clock-inner {
  position: absolute;
  top: 59%;
  right: 43%;
}
.clock {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: solid 2px silver;
  background-color: #fff;
}
.clock::after {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: silver;
}
.dials {
  position: relative;
  width: 100%;
  height: 100%;
}
.dials > div {
  position: absolute;
  top: 0;
  left: calc(50% - 3px);
  width: 6px;
  height: 50%;
  transform-origin: bottom;
}
.dials > div::after {
  position: absolute;
  top: 0;
  content: "";
  width: 3px;
  height: 15px;
  background-color: silver;
}

.dials div:nth-child(1) { transform: rotate(30deg); }
.dials div:nth-child(2) { transform: rotate(60deg); }
.dials div:nth-child(3) { transform: rotate(90deg); }
.dials div:nth-child(4) { transform: rotate(120deg); }
.dials div:nth-child(5) { transform: rotate(150deg); }
.dials div:nth-child(6) { transform: rotate(180deg); }
.dials div:nth-child(7) { transform: rotate(210deg); }
.dials div:nth-child(8) { transform: rotate(240deg); }
.dials div:nth-child(9) { transform: rotate(270deg); }
.dials div:nth-child(10) { transform: rotate(300deg); }
.dials div:nth-child(11) { transform: rotate(330deg); }
.dials div:nth-child(12) { transform: rotate(360deg); }

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: silver;
  transform-origin: 50% 100%;
}
.hour.hand {
  width: 6px;
  height: 50px;
}
.minute.hand {
  width: 4px;
  height: 100px;
}
.second.hand {
  width: 2px;
  height: 90px;
} */

.about {
  width: 100%;
  height: 574px;
  background-color: #8F8F8F;
  position: relative;
}
.about-inner {
  width: 100%;
  height: auto;
}
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 348PX;
  height: auto;
}
.abouttitle {
  padding: 8% 0 8% 0;
  margin-bottom: 5%;
  position: relative;
  font-size: 2rem;
  color: #fff;
}
.abouttitle::before {
  content: "";
  content:"";
  display: inline-block;
  height: 2px;
  background-color: #fff;
  position:absolute;
  bottom: 17px;
  left: 0;
  width: 100%;
}
.about-p {
  margin: 8% 0 12% 0;
  color: #fff;
  font-size: 1rem;
}
.btnarrow5{
  position: relative;
  background-color: #000;
  padding: 12px 30px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #FFF;
  outline: none;
  transition: all .2s linear;
}
.btnarrow5:hover{
  background:#505050;
  color:#fff;
}
.btnarrow5::before{
  content:"";
  position: absolute;
  top:50%;
  right:-26px;
  width:40px;
  height:1px;
  background:#FFF;
  transition: all .2s linear;
}
.btnarrow5::after{
  content:"";
  position: absolute;
  top: 26%;
  right: -21px;
  width:1px;
  height:12px;
  background:#FFF;
  transform:skewX(45deg);
  transition: all .2s linear;
}
.btnarrow5:hover::before{
right:-35px;
}
.btnarrow5:hover::after{
right:-30px;
}

.shopitem {
  width: 100%;
  height: 634px;
  display: flex;
  position: relative;
  background-color: #D5D5D5;
}
.shopitem:nth-child(1) {
  flex: 2;
}
.shopitem:nth-child(2) {
  flex: 1;
}
.shopimg-inner {
  width: 50%;
  height: 100%;
  position: absolute;
}
.shopitem img {
  object-fit: cover;
  border-right: 1px solid #000;
  border-bottom: 0;
  width: 100%;
  height: 100%;
}
.shop-text {
  position: absolute;
  width: 40%;
  top: 84%;
  left: 74%;
  transform: translate(-50%, -50%);
  line-break: anywhere;
}
.shop-p {
  margin-bottom: 5%;
}

.pickup-slide {
  width: 100%;
  height: 63px;
  background-color: #000;
}
.pickup-slide h3{
  color: #fff;
  font-size: 1.5rem;
  text-align:center;
  padding:15px 0;
}
.bottn {
  margin: 20px auto;
  width: 150px;
  height: 35px;
  background-color: #000;
  color: #fff;
  text-align: center;
}
.bottn p {
  padding-top: 6px;
}

.box-02{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slides-wrapper{
  display: flex;
  gap: 30px;
  width: calc(100% - 50px);
  margin: 0 auto;
  overflow: hidden;
}
.slide {
  text-align: center;
}
.slide img{
 width: 30vh;
 height: auto;
 object-fit: cover;
}

.pictre {
  width: 100%;
  height: 634px;
  display: flex;
}
.pictre img{
  width: 50%;
  height: auto;
  border: 1px solid #000;
}

footer {
  width: 100%;
  height: 432px;
}
.footer-inner {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  text-align: left;
}
footer h4 {
  margin: 100px 0 50px;
  font-size: 1.5rem;
}
footer li {
  margin: 20px 0;
  text-align: left;
}